{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="w-100 vh-100">
        <div class="home-img">
            <div class="container">
                <a href="#tricksDown" class="position-absolute bottom-0 end-0 text-black">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
                    </svg>
                </a>
                <div class="familly-text vh-100 text-start w-100 d-flex justify-content-center flex-column text-uppercase text-black fw-bolder fs-1">
                    <span> snowboarding </span>
                    <span> makes me happy </span>
                </div>
            </div>
        </div>
    </div>

    <span class="mb-5" id="tricksDown">&nbsp;</span>
    <span class="mb-5" id="tricksUp">&nbsp;</span>

    {% if app.user %}
        <a href="{{ path('app_create') }}" class="btn btn-success d-block m-auto mt-4" style="width:150px">Créer une figure</a>
    {% endif %}

    {% if not figures %}
        <div class="text-center fs-3 mt-5 text-decoration-underline">Soyez le premier à créer une figure</div>
    {% endif %}

    <div class="d-flex flex-wrap justify-content-evenly align-items-start mt-5 mb-5" id="figures">
        {% for figure in figures %}
            <div class="card shadow mb-5 p-2 bg-body rounded d-none figure" style="width: 20rem;">
                <a href="{{ path('app_figure', {'id':figure.id, 'slug':figure.slug}) }}" style="cursor:pointer;">
                    <img src="{{ figure.PathImage }}" class="card-img-top hover-figure-img" alt="Figure de snowboard">
                </a>
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <p class="card-text familly-text fs-4 fw-bold" style="max-width:217px">{{ figure.name }}</p>
                        </div>
                        {% if app.user and app.user.id == figure.user.id %}
                        <div class="position-absolute bottom-0 end-0 p-3">
                            <a href="{{ path('app_update', {'id':figure.id}) }}" class="text-decoration-none">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#7DCEA0" class="mx-2 bi bi-pencil-fill" viewBox="0 0 16 16">
                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                </svg>
                            </a>
                            <a href="{{ path('app_delete', {'id':figure.id}) }}" class="text-decoration-none">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#EC7063" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                </svg>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if figures|length > 12 %}
        <div class="w-100 text-center mb-5">
            <a class="text-black text-decoration-none" id="loadMoreFigures" style="cursor:pointer;">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#7DCEA0" class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
            </a>
        </div>
    {% endif %}

    {% if figures|length > 12 %}
    <div class="position-relative d-none" id="arrowUpFigures">
        <a href="#tricksUp" class="position-absolute bottom-0 end-0 text-black">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-up-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
            </svg>
        </a>
    </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('javascript/homeIndex.js') }}"></script>
{% endblock %}